footer {
    padding: 22px 25px;
    background-color: var(--footer);
    color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        font-family: "Shrikhand", "sans-serif";
        font-size: 18px;
    }

    ul {

        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            color: var(--White);
        }

        i {
            width: 11px;
            height: 13px;
            padding-right: 25px;
        }

        .row-footer {
            display: flex;
            flex-direction: column;
            gap: 7px;

        }
    }
}

@media screen and (min-width: 1024px) {

    footer {

        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 80px;
        height: 114px;
        padding: 30px 25px;

    }

    footer ul .row-footer {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    footer ul {

        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}