footer {
    padding: 22px 25px;
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        font-family: "Shrikhand", "sans-serif";

        font-size: 18px;
    }

    ul {

        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            color: white;
        }

        i {
            width: 11px;
            height: 13px;
            padding-right: 25px;
        }

    }


}