.menu__line {
    width: 40px;
    height: 3px;
    background: var(--tertiaire);
    margin-top: 0.5rem;

}

.card {
    box-sizing: border-box;
    object-fit: contain;
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    overflow: hidden;
    justify-content: space-between;

    /* padding: 15px; */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

.card__txt__container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 0px;
    // overflow: hidden;

    // white-space: nowrap;
    // text-overflow: ellipsis;
}



.card__title,
.card__txt__container p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 350px;
    padding-left: 15px;
}

.main-restaurent-container h4 {
    font-size: 18px;
}

p,
b {
    font-size: 14px;

}

.card__subtitle {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;*/
    /*align-items: flex-end; overflow: hidden; */
}

.price {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    right: -60px;
    transition: 0.3s ease;
    width: 90px;
    margin-left: 10px;
}

.card:hover {

    .price {

        right: 0px;
    }


}

b.card__price {
    position: relative;
    bottom: -40px;
    transition: transform 0.3s ease-out;
    height: auto;
    margin-right: 10px;
}

.card__hover {
    /* box-sizing: border-box; */
    /* object-fit: contain; */
    background-color: var(--tertiaire);
    width: 60px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    transition: transform 0.3s ease;
    /* position: relative; */
    /* top: -14px; */
}

.card__hover .card__hover__container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--tertiaire);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
}

.fa-solid,
.fas {
    font-weight: 900;
}


// .card:hover {

//     b.card__price {
//         transform: translateX(0px);
//         transition: transform 0.3s ease-out;
//     }

//     .card__hover {

//         transform: translateX(0px);
//         transition: transform 0.3s ease;

//     }
// }

/*

.card {
    box-sizing: border-box;
    object-fit: contain;
    display: flex;
    width: 100%;
    height: 69px;
    padding: 15px;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

    .card__img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

}

.card__txt__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
}



.card__hover {
    box-sizing: border-box;
    object-fit: contain;
    background-color: green;

    height: 69px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    transform: translateX(150px);
    transition: transform 0.3s ease;
    position: relative;
    top: -14px;

    .card__hover__container-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100%;
    }
}



/*
p {
    color: var(--black);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bold {
    font-size: 18px;
    font-weight: 700;
}
*/