.home_card {

    height: auto;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    padding: 0;

    .card__img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        height: 231px;
    }

    .card__icon {
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        padding: 8px;
        background-color: var(--tertiaire);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--Green-Font, #008766);

    }

    p {
        color: var(--black);
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .bold {
        font-size: 18px;
        font-weight: 700;
    }

    figcaption {
        padding: 13px 16px;
        justify-content: space-between;
        align-items: center;

        .gap {
            gap: 5px;
        }
    }
}


.home_card {
    width: 100%;
}