* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  text-decoration: none; }
  * ul li {
    list-style-type: none; }
  * a {
    text-decoration: none; }

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiaire: #99E2D0;
  --black: #000;
  --Green-Font: #008766;
  --font-text: "Roboto";
  --gradient: linear-gradient(350deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  --gradient-hover: linear-gradient(350deg, #9356dc 0%, #ff79da 80%); }

.col {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.hidden {
  display: none; }

.button {
  padding: 13px 18.75px;
  background: var(--gradient);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500; }
  .button:hover {
    background: var(--gradient-hover); }

nav {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); }

.card,
.home_card {
  max-width: 490px;
  width: 100%;
  height: auto;
  background-color: #ececec;
  border-radius: 1rem;
  position: relative;
  padding: 0; }
  .card .card__img,
  .home_card .card__img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; }
  .card .card__icon,
  .home_card .card__icon {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    padding: 8px;
    background-color: var(--tertiaire);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--Green-Font, #008766); }
  .card p,
  .home_card p {
    color: var(--black);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; }
  .card .bold,
  .home_card .bold {
    font-size: 18px;
    font-weight: 700; }
  .card figcaption,
  .home_card figcaption {
    padding: 13px 16px;
    justify-content: space-between;
    align-items: center; }

.card {
  max-width: 634px;
  padding: 15px; }

.operation-step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  width: 100%; }

.operations {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%; }

.operation-step {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center; }

.numbers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  margin-left: -72px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: var(--primary); }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  padding-right: 20px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); }

.fas .fa-mobile-alt {
  padding-left: 10%; }

footer {
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px; }
  footer h3 {
    font-family: "Shrikhand", "sans-serif";
    font-size: 18px; }
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 7px; }
    footer ul a {
      color: white; }
    footer ul i {
      width: 11px;
      height: 13px;
      padding-right: 25px; }

section {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 20px;
  padding-right: 20px; }

h1 {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 30px; }

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700; }

h3 {
  font-size: 16px;
  font-weight: 500; }

h4 {
  font-size: 24px;
  font-weight: 700; }

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 17px;
  background-color: #EAEAEA; }

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background-color: #F6F6F6; }

.restaurants {
  background-color: #F6F6F6;
  gap: 18px; }
