.header-restaurent {
    margin-top: 30px;

    .heart-button {
        font-size: 28px;
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 15px;
    }
}

.banner-img {
    height: 275px;
    width: 100%;
    object-fit: cover;
}


.main-restaurent-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;


    h2 {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;

        padding-top: 40px;
    }

    h4 {
        font-size: 18px;
    }

    .restaurent-container {

        background-color: #F6F6F6;
        position: relative;
        bottom: 56px;
        border-radius: 40px 40px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }


    .all-menu-container {
        width: 100%;
        padding: 0px 15px;

    }
}